$IMCCONFIG
#
# IMC2 Freedom CL-2.1 config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      AL
Autoconnect    1
MinPlayerLevel 1
MinImmLevel    6
AdminLevel     12
Implevel       13
InfoName       Another Land
InfoHost       anotherland.kyndig.com
InfoPort       6969
InfoEmail      pfchrono@gmail.com
InfoWWW        none
InfoBase       Anotherland v1.3
InfoDetails    Heavily Moddified dystopia 1.2.7

# Your router connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr  grevin.sytes.net
ServerPort  5002
ClientPwd   gotmilk
ServerPwd   milkgot
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         1
End

$END
